
body {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 16px;
    line-height: 1.5!important;
}

h3, h4 {
    margin: 2px;
}

.container-bpe {
    padding: 20px;
    border: 1px solid #000;
    font-family : Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif !important;
}

.kop-surat {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.kop {
    margin: 2px;
    font-size: 9pt;
}

.content {
    text-align: justify;
}

.arsip {
    margin-top: 30px;
    width: 100%;
    border: 2px solid #000;
}

.indent {
    text-indent: 50px;
}

.new-page {
    page-break-before: always;
}

.float-right {
    float: right!important;
}

.row {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.666667%;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.666667%;
}

.col-md-10 {
    flex: 0 0 auto;
    width: 83.333333%;
}

.offset-md-6 {
    margin-left: 50%;
}

.offset-md-8 {
    margin-left: 66.666667%;
}

.img-fluid {
    max-width: 100px;
    height: auto;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}