{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tanda Terima</title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="print.css"> -->
</head>
<body>
  <div class="wrapper">
    <section class="bpe">
      <div class="container-bpe">
        <div class="row kop-surat">
          <div class="col-md-2">
            <img class="img-fluid" src="{% static "enorma/images/logo-kemenkeu.png" %}" alt="Logo Kemenkeu">
          </div>
          <div class="col-md-10 text-center">
            <h3>KEMENTERIAN KEUANGAN REPUBLIK INDONESIA</h3>
            <h4>DIREKTORAT JENDERAL PAJAK</h4>
            <p class="kop">LAYANAN INFORMASI DAN PENGADUAN KRING PAJAK (021) 1500200 <br>
            email: pengaduan@pajak.go.id | informasi@pajak.go.id</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text-center">
              <strong>BUKTI PENERIMAAN ELEKTRONIK</strong><br>
              Nomor: {{ nppn.id_nppn }}/NPPN/{{ nppn.tahun_pajak }} <br>
              {{ nppn.tanggal_terima|date:"d F Y" }}
            </p>
          </div>
          <table class="table">
            <tr>
              <td>Nama Wajib Pajak</td>
              <td>: {{ wp.nama }}</td>
            </tr>
            <tr>
              <td>NPWP</td>
              <td>: {{ wp.npwp }}</td>
            </tr>
            <tr>
              <td>Tahun Pajak</td>
              <td>: {{ nppn.tahun_pajak }}</td>
            </tr>
            <tr>
              <td>Omset NPPN</td>
              <td>: Rp{{ nppn.omset|intcomma }}</td>
            </tr>
            <tr>
              <td>Nomor Norma</td>
              <td>: {{ nppn.id_norma.no_norma }}</td>
            </tr>
            <tr>
              <td>Persentase Norma</td>
              <td>: {{ nppn.id_norma.norma }}%</td>
            </tr>
            <tr>
              <td>Penghasilan Neto</td>
              <td>: Rp{{ nppn.penghasilan_neto|intcomma }}</td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <section class="surat-pemberitahuan new-page">
      <div class="arsip text-center">
        <p><strong>DIGUNAKAN UNTUK ARSIP WAJIB PAJAK</strong></p>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-right">
            {{ wp.kode_pos.kode_kab_kota.nama_kab_kota|title }}, {{ nppn.tanggal_terima|date:"d F Y" }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>Perihal : <br>
          Pemberitahuan Penggunaan Norma Penghitungan Neto</p>
          <p>Yth. Kepala Kantor Pelayanan Pajak <br>
          {{ wp.kode_kpp.nama_kpp }} <br>
          di Tempat
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="content indent"> Memenuhi ketentuan dimaksud dalam   Pasal 14 ayat (2)  Undang-Undang Nomor 7 Tahun 1983 Tentang Pajak Penghasilan sebagaimana telah beberapa kali diubah terakhir dengan Undang-Undang Nomor 36 Tahun 2008 dan Peraturan Direktur Jenderal Pajak Nomor PER-17/PJ/2015 Tahun 2015 tentang Norma Penghitungan Penghasilan Netto, dengan ini kami :</p>
        </div>
        <div class="col-12">
          <table class="table">
            <tr>
              <td>Nama</td>
              <td>: {{ wp.nama }}</td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td>: {{ wp.alamat }}, {{ wp.kode_pos.kecamatan|title }}, {{ wp.kode_pos.kode_kab_kota.nama_kab_kota|title }}</td>
            </tr>
            <tr>
              <td>NPWP</td>
              <td>: {{ wp.npwp }}</td>
            </tr>
          </table>
        </div>
        <div class="col-12">
          <p class="content">memberitahukan bahwa untuk Pajak Penghasilan Tahun {{ nppn.tahun_pajak }} akan dihitung dengan menggunakan Norma Penghitungan Penghasilan Neto.
            Penghasilan Utama yang kami peroleh termasuk dalam Daftar Kode Nomor: <strong>{{ nppn.id_norma.no_norma }}</strong>
            dengan Klasifikasi Lapangan Usaha (KLU) <strong>{{ wp.kode_klu.kode_klu }} - {{ wp.kode_klu.ket_klu|title }}</strong></p>
          <p class="indent">Demikian disampaikan.</p>
        </div>
        <div class="col-md-4 offset-md-8">
          <p>Wajib Pajak</p>
          <br>
          <br>
          <p>{{ wp.nama }}</p>
        </div>
      </div>

    </section>
  </div>
  
</body>
</html>