{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout | Direktorat Jenderal Pajak</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "enorma/css/login.css" %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <img class="logo-djp ml-auto mb-4" src="{% static "enorma/images/logo-djp.png" %}" alt="Logo DJP" style="
                margin: auto;
                display: block;
                width: 50%;">
                <div class="card-group pt-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="mt-4 mb-4 text-center">
                                <h5 class="card-title">Oops! Sepertinya Anda nyasar</h5>
                                <p class="card-text"><a href="{% url 'home' %}">Klik di sini</a> untuk kembali</p>
                            </div>
                            <img class="img-fluid ml-auto" src="{% static "enorma/images/404.jpg" %}" alt="404">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
