{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Direktorat Jenderal Pajak</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "enorma/css/login.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <img class="logo-djp ml-auto mb-4" src="{% static "enorma/images/logo-djp.png" %}" alt="Logo DJP" style="
                margin: auto;
                display: block;
                width: 50%;">
                {% include "enorma/partials/messages.html" %}
                <div class="card-group pt-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center mb-3">Login</h3>
                            <form method="post" id="form-login">
                                {% csrf_token %}
                                
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="username" autofocus autocomplete="username" required id="username" placeholder="Nomor Pokok Wajib Pajak (NPWP)">
                                </div>

                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password" autocomplete="current-password" required id="password" placeholder="Kata Sandi">
                                </div>
                            
                                <input type="submit" class="btn btn-primary btn-block rounded-pill" value="login">
                                <input type="hidden" name="next" value="{{ next }}">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        cleave = new Cleave('#username', {
            blocks: [2, 3, 3, 1, 3, 3],
            delimiters: ['.', '.', '.', '-', '.'],
            numericOnly: true,
            swapHiddenInput: true
        });

        const loginForm = document.getElementById('form-login');
        loginForm.onsubmit = function() {
            document.getElementById('username').value = cleave.getRawValue();
            loginForm.submit();
        };
    </script>
</body>
</html>