{% extends 'enorma/base.html' %}

{% load static %}

{% block content %}

            <div class="row align-items-start">

                <div class="col-md-4 col-12 mb-4">
                {% include 'enorma/partials/petunjuk.html' %}
                </div>

                <div class="col-md-8">
                    <a href="{% url 'enorma' %}" class="link-layanan">
                    <div class="card mb-3 card-layanan">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center pl-4">
                                    <img class="img-layanan" src="{% static "enorma/images/layanan-enorma.png" %}" alt="Layanan eNorma">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">eNorma</h5>
                                        <p class="card-text">
                                            Aplikasi Pemberitahuan Norma Penghitungan Penghasilan Neto (NPPN).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="card mb-3 card-layanan">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center pl-4">
                                <img class="img-layanan" src="{% static "enorma/images/layanan-ephtb.png" %}" alt="Layanan ePHTB">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">e-PHTB</h5>
                                    <p class="card-text">
                                        Aplikasi Permohonan Penelitian Bukti Pemenuhan Kewajiban Penyetoran PPHTB.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 card-layanan">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center pl-4">
                                <img class="img-layanan" src="{% static "enorma/images/layanan-kswp.png" %}" alt="Layanan KSWP">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Info KSWP</h5>
                                    <p class="card-text">
                                        Informasi terkait Konfirmasi Status Wajib Pajak.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 card-layanan">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center pl-4">
                                <img class="img-layanan" src="{% static "enorma/images/layanan-rkd.png" %}" alt="Layanan Rumah Konfirmasi Dokumen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Rumah Konfirmasi</h5>
                                    <p class="card-text">
                                        Aplikasi yang digunakan untuk melakukan konfirmasi validitas dokumen perpajakan yang diterbitkan oleh Direktorat Jenderal Pajak.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 card-layanan">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center pl-4">
                                <img class="img-layanan" src="{% static "enorma/images/layanan-ereporting.png" %}" alt="Layanan eReporting Amnesti Pajak">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">eReporting Amnesti Pajak</h5>
                                    <p class="card-text">
                                        Salah satu cara penyampaian laporan penempatan harta tambahan yang berada di wilayah NKRI dan laporan realisasi pengalihan dan investasi harta tambahan ke dalam wilayah NKRI secara elektronik.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

{% endblock content %}