{% extends 'enorma/base.html' %}

{% load static %}

{% block content %}

                <div class="row align-items-start">

                    <div class="col-md-4 col-12 mb-4">
                    {% include 'enorma/partials/petunjuk.html' %}
                    </div>

                    <div class="col-md-8 col-12">
                        <div class="card">
                            <div class="card-header">
                                Lapor Pemberitahuan NPPN
                            </div>
                            <div class="card-body">
                                <div class="progress-container" id="progress-container">
                                    <ul class="progressbar">
                                        <li class="active">Verifikasi</li>
                                        <li>Lapor</li>
                                    </ul>
                                </div>

                                {% include "enorma/partials/messages.html" %}

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">NO.</th>
                                                <th scope="col">PERSYARATAN</th>
                                                <th scope="col">KETERANGAN</th>
                                                <th scope="col">STATUS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Status Wajib Pajak</td>
                                                <td>{{ status_wp|title }}</td>
                                                <td>
                                                    {% if verifikasi.status_wp == 1 %}
                                                    <svg width="1.5em" viewBox="0 0 16 16"
                                                        class="bi bi-check-circle-fill" fill="#00BF6F"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                    </svg>
                                                    {% else %}
                                                    <svg width="1.5em" viewBox="0 0 16 16"
                                                        class="bi bi-x-circle-fill" fill="#dc3545"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z" />
                                                    </svg>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jenis Wajib Pajak</td>
                                                <td>{{ jenis_wp|title }}</td>
                                                <td>
                                                    {% if verifikasi.jenis_wp == 1 %}
                                                    <svg width="1.5em" viewBox="0 0 16 16"
                                                        class="bi bi-check-circle-fill" fill="#00BF6F"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                    </svg>
                                                    {% else %}
                                                    <svg width="1.5em" viewBox="0 0 16 16"
                                                        class="bi bi-x-circle-fill" fill="#dc3545"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z" />
                                                    </svg>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Klasifikasi Lapangan Usaha</td>
                                                <td>{{ klu|title }}</td>
                                                <td>
                                                    {% if verifikasi.status_klu == 1 %}
                                                    <svg width="1.5em" viewBox="0 0 16 16"
                                                        class="bi bi-check-circle-fill" fill="#00BF6F"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                    </svg>
                                                    {% else %}
                                                    <svg width="1.5em" viewBox="0 0 16 16"
                                                        class="bi bi-x-circle-fill" fill="#dc3545"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z" />
                                                    </svg>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <form action="{% url 'lapor' %}" method="post" id="lanjut-lapor">
                                    {% csrf_token %}
                                    {{ form }}
                                    <button class="btn btn-primary rounded-pill" type="submit">Lanjut</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
                <script>
                    
                    let isiMessage = [];
                    let verifikasi = {{ verifikasi|safe }};

                    if(verifikasi.status_wp == 0) {
                        isiMessage.push('Status Anda tidak memenuhi syarat.')
                    };

                    if(verifikasi.jenis_wp == 0) {
                        isiMessage.push('Hanya WP OP yang dapat menggunakan fasilitas NPPN.')
                    };

                    if(verifikasi.status_klu == 0) {
                        isiMessage.push('KLU Anda tidak memenuhi syarat.')
                    };

                    const progressBar = document.getElementById('progress-container');
                    const lanjutForm = document.getElementById('lanjut-lapor');
                    const nilaiVerifikasi = Object.values(verifikasi).reduce((a, b) => a + b);
                    
                    let udahKlik = false;
                    lanjutForm.onclick = function() {
                        if (nilaiVerifikasi < 3 && udahKlik == false) {
                            isiMessage.forEach(mes => {
                                let divMessage = document.createElement('div');
                                let message = document.createTextNode(mes);
                                divMessage.appendChild(message);
                                divMessage.classList.add('alert', 'alert-warning');
                                progressBar.parentNode.insertBefore(divMessage, progressBar.nextSibling);
                            });
                            udahKlik = true;
                            progressBar.scrollIntoView();
                            return false;
                        } else if (nilaiVerifikasi < 3) {
                            progressBar.scrollIntoView();
                            return false;
                        };
                    };

                </script>
{% endblock content %}