{% extends 'enorma/base.html' %}

{% load static %}

{% block content %}

<div class="card">
    <div class="card-header petunjuk">

    </div>
    <div class="card-body text-center">
        <h5 class="card-title">Selamat datang, {{ user.npwp.nama }}</h5>
        <p class="card-text">di Layanan Direktorat Jenderal Pajak.
        </p>
        <a href="{% url 'layanan' %}" class="btn btn-primary rounded-pill d-lg-none">ke Daftar Layanan</a>
    </div>
</div>

{% endblock content %}