{% extends 'enorma/base.html' %}

{% load static %}

{% block script_js %}
<script src="{% static "enorma/js/wNumb.min.js" %}"></script>
{% endblock script_js %}

{% block content %}

            <div class="row align-items-start">

                <div class="col-md-4 col-12 mb-4">
                {% include 'enorma/partials/petunjuk.html' %}
                </div>

                <div class="col-md-8 col-12">
                    <div class="card">
                        <div class="card-header">
                            Lapor Pemberitahuan NPPN
                        </div>
                        <div class="card-body row">
                            <div class="progress-container">
                                <ul class="progressbar">
                                    <li class="done">Verifikasi</li>
                                    <li class="active">Lapor</li>
                                </ul>
                            </div>

                            {% include "enorma/partials/messages.html" %}

                            <form action="{% url 'kirim-laporan' %}" method="post" id="form-nppn">
                                {% csrf_token %}
                                <div class="col-md-6 mb-3">
                                    <label for="tahun-norma" class="form-label">Tahun Pajak</label>
                                    <input class="form-control" type="text" value="{{ tahun_pajak }}" aria-disabled="true" disabled>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="input-omset" class="form-label">Omset</label>
                                    <div class="input-group">
                                        <span class="input-group-text">Rp</span>
                                        <input class="form-control" type="text" id="input-omset" name="omset" placeholder="Masukkan omset" {% if spt %}value="{{ spt.omset }}"{% endif %} required>
                                        <div class="invalid-feedback">
                                            Untuk menggunakan fasilitas norma omset tidak boleh 0 atau melebihi 4,8 M.
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 mb-3">
                                    <label for="persen-norma" class="form-label">Norma</label>
                                    <input class="form-control" id="persen-norma" type="text" value="{{ norma }}%"
                                        aria-disabled="true" disabled>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="penghasilan-neto" class="form-label">Penghasilan Neto</label>
                                    <div class="input-group">
                                        <span class="input-group-text">Rp</span>
                                        <input class="form-control" id="penghasilan-neto" type="text" value="" aria-disabled="true" disabled>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <small class="text-muted">*) Persentase norma ditentukan berdasarkan KLU dan alamat</small>
                                </div>

                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                      Dengan ini saya menyatakan bahwa data yang saya isi adalah benar.
                                    </label>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary rounded-pill" id="kirim-laporan" type="submit">Kirim Laporan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

<script>
    let norma = document.getElementById('persen-norma').value;
    let omset = document.getElementById('input-omset');
    norma = parseFloat(norma) / 100;

    let cleaveOmset = new Cleave('#input-omset', {
        numeral: true,
        numeralDecimalMark: ',',
        numeralPositiveOnly: true,
        delimiter: '.',
        swapHiddenInput: true,
        onValueChanged: function(e) {
            let Format = wNumb({
                decimals: 2,
                mark: ',',
                thousand: '.'
            });
            document.getElementById('penghasilan-neto').value = Format.to(e.target.rawValue * norma);

            if(e.target.rawValue > 4800000000 || e.target.rawValue < 1) {
                document.getElementById('input-omset').classList.add("is-invalid");
                document.getElementById('kirim-laporan').setAttribute("disabled", "");
            } else {
                document.getElementById('input-omset').classList.remove("is-invalid");
                document.getElementById('kirim-laporan').removeAttribute("disabled", "");
            };
        }
    });

    const formNppn = document.getElementById('form-nppn');
    formNppn.onsubmit = function(){
        omset.value = cleaveOmset.getRawValue();
        formNppn.submit();
    };


</script>
{% endblock content %}