{% extends 'enorma/base.html' %}

{% load static %}

{% block content %}

            <div class="row align-items-start">
                <div class="col-md-4 col-12 mb-4">
                {% include 'enorma/partials/profil_wp.html' %}
                {% include 'enorma/partials/petunjuk.html' %}
                </div>
                
                <div class="col-md-8 col-12">
                    <div class="card">
                        <div class="card-header">
                            <svg width="1.2em" viewBox="0 0 16 16" class="bi bi-file-text-fill" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M12 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                            </svg>
                            Riwayat Pemberitahuan NPPN
                        </div>
                        <div class="card-body">
                            <a href="{% url 'verifikasi' %}" class="btn btn-primary rounded-pill mb-3 {{ disabled }}" id="lapor-nppn">
                                <svg width="1.2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z" />
                                </svg>
                                Lapor NPPN
                            </a>

                            {% include "enorma/partials/messages.html" %}

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">NO.</th>
                                            <th scope="col">NO. TANDA TERIMA</th>
                                            <th scope="col">TANGGAL TERIMA</th>
                                            <th scope="col">STATUS</th>
                                            <th scope="col">AKSI</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for nppn in riwayat_nppn %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ nppn.id_nppn }}/NPPN/{{ nppn.tahun_pajak }}</td>
                                            <td>{{ nppn.tanggal_terima|date:"Y-m-d" }}</td>
                                            <td>{% if nppn.fg_ditolak == 0 %}
                                                <button class="btn btn-terkirim btn-sm rounded-pill" role="button" style="width: 90px;">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="6" cy="6" r="6"/>
                                                    </svg>
                                                    <small>TERKIRIM</small>
                                                </button>
                                                {% else %}
                                                <a tabindex="0" class="btn btn-ditolak btn-sm rounded-pill" role="button" data-toggle="popover" data-trigger="focus" title="Alasan Ditolak" data-content="{{ nppn.alasan_ditolak }}" style="width: 88px;">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="6" cy="6" r="6"/>
                                                    </svg>
                                                    <small>DITOLAK</small>
                                                </a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'download' nppn.id_nppn %}" class="btn btn-download btn-sm rounded-pill" style="width: 88px;">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
                                                        <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                                                    </svg>
                                                    <small>UNDUH</small>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>

                                </table>
                            </div>

                            
                        </div>
                    </div>
                </div>

            </div>

<script>
    const suksesDonlod = document.getElementsByClassName('alert-info');
    if(suksesDonlod.length > 0) {
        window.location='{{ request.get_full_path }}download/{{ nppn_terakhir.id_nppn }}'

    };

    const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
    const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    });

    const tombolLapor = document.getElementById('lapor-nppn');
    const tahunSekarang = new Date().getFullYear();
    const nppnTerakhir = {% if nppn_terakhir %}{{ nppn_terakhir.tahun_pajak }}{% else %}null{% endif %};

    let divMessage = document.createElement('div');
    let isiMessage = 'NPPN tahun ini sudah pernah dilaporkan.';
    let message = document.createTextNode(isiMessage);

    tombolLapor.onclick = function() {
        if(nppnTerakhir == (tahunSekarang - 1)) {
            divMessage.appendChild(message);
            divMessage.classList.add('alert', 'alert-warning');
            tombolLapor.parentNode.insertBefore(divMessage, tombolLapor.nextSibling);

            return false;
        };
    };
</script>

{% endblock content %}