{% load static %}

{% if '/enorma/' not in request.path %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container" id="nav-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="logo-djp ml-auto" src="{% static "enorma/images/logo-djp.png" %}" alt="Logo DJP">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link mr-1{% if request.path == '/' %} active" aria-current="true" {% else %}"
                        {% endif %} href="{% url 'home' %}">Informasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="#">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="#">Bayar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="#">Lapor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1{% if request.path == '/layanan/' %} active" aria-current="true" {% else %}"
                        {% endif %} href="{% url 'layanan' %}">Layanan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

{% else %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container" id="nav-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'enorma' %}">
            <img class="logo-enorma ml-auto" src="{% static "enorma/images/logo-enorma.png" %}" alt="Logo eNorma">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

{% endif %}