{% load static %}

{% if '/enorma/' not in request.path %}
<div class="card-header utama d-flex">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
        <a class="nav-link mr-1{% if request.path == '/' %} active" aria-current="true"{% else %}" {% endif %} href="{% url 'home' %}">Informasi</a>
        </li>
        <li class="nav-item">
        <a class="nav-link mr-1" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
        <a class="nav-link mr-1" href="#">Link</a>
        </li>
        <li class="nav-item">
        <a class="nav-link mr-1" href="#">Profil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link mr-1" href="#">Bayar</a>
        </li>
        <li class="nav-item">
        <a class="nav-link mr-1" href="#">Lapor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-1{% if request.path == '/layanan/' %} active" aria-current="true"{% else %}" {% endif %} href="{% url 'layanan' %}">Layanan</a>
        </li>
    </ul>

    <img class="logo-djp ml-auto" src="{% static "enorma/images/logo-djp.png" %}" alt="Logo DJP">
</div>

{% else %}
<div class="card-header utama d-flex">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Dashboard</a>
        </li>
    </ul>

    <a class ="logo-enorma ml-auto" href="{% url 'enorma' %}">
        <img src="{% static "enorma/images/logo-enorma.png" %}" alt="Logo eNorma">
    </a>
</div>

{% endif %}