<div class="card mb-3">
    <div class="card-header">
        <svg width="1.2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg>
        Profil Wajib Pajak
    </div>
    <div class="card-body">

            <p>
                <span class="h5">{{ user.npwp.nama }}</span>
                <br>
                <small id="profil-npwp" class="text-muted">{{ user.npwp.npwp }}</small>
            </p>

            <p>
                <span class="h5">Alamat</span>
                <br>
                <small class="text-muted">
                    {{ user.npwp.alamat }}, {{ user.npwp.kode_pos.kecamatan|title }}<br>
                    {{ user.npwp.kode_pos.kode_kab_kota.nama_kab_kota|title }}, {{ user.npwp.kode_pos.kode_provinsi.nama_provinsi|title }} {{ user.npwp.kode_pos.kode_pos }}</small>
            </p>

            <script>
                const npwp = document.getElementById('profil-npwp').textContent;
                const npwp_formatted = npwp.slice(0,2) + '.' + npwp.slice(2,5) + '.' + npwp.slice(5,8) + '.' + npwp.slice(8,9) + '-' + npwp.slice(9,12) + '.' + npwp.slice(12,15);

                document.getElementById("profil-npwp").textContent = npwp_formatted;
            </script>

    </div>
</div>