html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
  background: linear-gradient(0deg, #CFD1DE 20%, #fff 80%);
}

.card {
    border-radius: calc(0.25rem - 1px);
    background-color: #F5F5F8;
    border: 1px transparent;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07)
        ;
}

.btn-primary {
    color: #fff;
    background-color: #202C62;
    border-color: #202C62;
}