html, body {
    height: 100%;
    color: #202C62;
}

body {
    display: flex;
    /* align-items: center; */
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: #CFD1DE; */
    background-image: linear-gradient(0deg, #CFD1DE 20%, #fff 80%);
    background-attachment:fixed;
}

.navbar-brand {
    order: 2;
    margin-right: 0;
}

.navbar-collapse {
    order: 1;
}

.nav-tabs {
    align-content: flex-end;
}

.nav-tabs .nav-link {
    border-top-right-radius: 1.5rem;
}

.nav-tabs .nav-link.active {
    background: #F5F5F8;
    border: 1px transparent;
}

.nav-tabs .nav-link {
    /* background-color: #6C7395; */
    background: linear-gradient(#6C7395, #202C62);
    border: 1px transparent;
    color: #fff;
}

.nav-link {
    padding: 0.5rem 1.5rem 0.5rem 1rem !important;
}

.card {
    border: 1px rgba(0, 0, 0, 0);
}

.card-header {
    border-bottom: 1px rgba(0, 0, 0, 0);
    background-color: #202C62;
    color: #fff;
}

.card-header-tabs {
    margin-left: -1rem;
}

.navbar {
    /* background-color: transparent; */
    padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #F5F5F8;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

#nav-container {
    align-items: flex-end;
    padding: 0;
}

.card-layanan {
    min-height: 160px;
    height: 100%;
}

.img-layanan {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.link-layanan {
    text-decoration: none;
    color: #202C62;
}

.logo-enorma, .logo-djp {
    height: 60px;
}

.main-card {
    border-radius: calc(0.25rem - 1px);
    background-color: #F5F5F8;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07)
        ;
}

.card-header.petunjuk {
    background-color: #FFBD20;
    color: #fff;
}

.progress-container {
    width: 100%;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style: none;
    display: inline-block;
    width: 45%;
    position: relative;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
}

.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #28a745;
    z-index: 2;
}

.progressbar li.active:before {
    border-color: #28a745;
    background-color: #28a745;
    color: #fff;
}

.progressbar li.active+li:after {
    background-color: #ddd;
}

.progressbar li.done {
    color: #28a745;
    z-index: 3;
}

.progressbar li.done:before {
    border-color: #28a745;
}

.progressbar li.done+li:after {
    background-color: #28a745;
}

.btn-primary {
    color: #fff;
    background-color: #202C62;
    border-color: #202C62;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #9398b4;
    border-color: #9398b4;
}

.btn-secondary {
    color: #fff;
    background-color: #6C7395;
    border-color: #6C7395;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #202C62;
    border-color: #202C62;
}

.btn-ditolak {
    color: #dc3545;
    background-color: #F9BBBB;
    border-color: #F9BBBB;
}

.btn-ditolak:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-terkirim {
    color: #06B2FF;
    background-color: #D1EDFC;
    border-color: #D1EDFC;
}

.btn-terkirim:hover {
    color: #fff;
    background-color: #06B2FF;
    border-color: #06B2FF;
}

.btn-download {
    color: #fff;
    background-color: #FFCD1C;
    border-color: #FFCD1C;
}

.btn-download:hover {
    color: #fff;
    background-color: #FDA00D;
    border-color: #FDA00D;
}

.btn-sm {
    padding: 0 .5rem;
}

.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #202C62;
    border-color: #202C62;
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: #202C62;
    border-color: #202C62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.table {
    --bs-table-striped-bg: #F7F8FA;
    color: #6C7395;
}

.table-striped > tbody > tr {
    color: #202C62;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    color: #202C62;
}

.table .dropdown-menu {
    color: #fff;
    background-color: #202C62;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.table .dropdown-item {
    color: #fff;
}

.table .dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: #6C7395;
}

.btn svg, .card-header svg {
    top: -.125em;
    left: -.125em;
    position: relative;
}

.btn-sm svg {
    top: 0;
    left: -.125em;
    position: relative;
}

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }

    .navbar-collapse {
        order: 3;
    }

    #nav-container {
        align-items: center;
        padding: 0 1rem 0 1rem;
    }

    .navbar-collapse {
        background-color: #202C62;
    }

    .nav-tabs {
        border-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-tabs .nav-link {
        /* background-color: #6C7395; */
        background: transparent;
        border: 0px transparent;
        color: #fff;
        border-radius: .25rem;
    }

    .nav-tabs .nav-link.active {
        background: transparent;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: gold;
    }
}

@media (max-width: 768px) {
    .logo-enorma img, .logo-djp {
        height: 34px;
    }

    .card {
        box-shadow: 0px 11px 29px -12px rgba(0,0,0,0.39);
    }

    .main-card {
        background-color: transparent;
        box-shadow: none;
    }

    .container {
        padding: 0;
    }

    .card-layanan {
        height: 100%;
    }

    .img-layanan {
        border: 0px;
        display: block;
        margin: auto;
    }
}